*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction:column;
}

.header {
    display: flex;
    background-color: red;
    height: 100px;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.nav {
    display: flex;
    background-color: violet;
    height: 100%;
    width: 300px;
    align-self: flex-start;
    size: 100%;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.main {
    display: flex;
    background-color: lightgreen;
    flex-grow: 1;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.aside{
    display: flex;
    background-color: wheat;
    height: 100%;
    width: 300px;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.footer{
    display: flex;
    background-color: purple;
    height: 200px;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.pipi {
    display: flex;
    height: 100%;
}